# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print (child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [4]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print ('* ' + element.find('name').text + ':'),
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print (capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [5]:
document = ET.parse( './data/mondial_database.xml' )
import numpy as np
import pandas as pd

# Answer 1

In [6]:
print('\n 10 countries with the lowest infant mortality rates')

#creates dictionary of countries with infant mortality rates
dict_imr = {}
for country in document.iterfind('country'):
    try:
        dict_imr[country.find('name').text] = float(country.find('infant_mortality').text)
    except: 
        pass

#created data frame of countries with infant mortality rate
infant_mortality_df = pd.DataFrame.from_dict(dict_imr,orient='index')
infant_mortality_df.reset_index(drop=False, inplace=True)
infant_mortality_df.columns=['country', 'infant_mortality_rate']

#sorts and displays the 10 countries with the lowest infant mortality rates
infant_mortality_df = infant_mortality_df.sort_values(by='infant_mortality_rate')
infant_mortality_df.head(10)

 10 countries with the lowest infant mortality rates

            country  infant_mortality_rate
36           Monaco                   1.81
90            Japan                   2.13
109         Bermuda                   2.48
34           Norway                   2.48
98        Singapore                   2.53
35           Sweden                   2.60
8    Czech Republic                   2.63
72        Hong Kong                   2.73
73            Macao                   3.13
39          Iceland                   3.15


# Answer 2

In [7]:
print('\n 10 cities with the largest population')

#creates list of cities, population figures, and years
cities = []
years = []
population = []
for country in document.iterfind('country'):
    for city in country.iterfind('city') : 
        for pop in city.iterfind('population'): 
            year = 0
            if int(pop.get('year')) > year: 
                year = int(pop.get('year')) 
                data = float(pop.text) 
            if year != 0: 
                cities.append(city.find('name').text) 
                years.append(year) 
                population.append(data)
                
#creates dataframe of cities, population figures, and years
columns = ['city', 'population', 'year']
cities_pop_df = pd.DataFrame(columns=columns)
cities_pop_df['city'] = cities
cities_pop_df['population'] = population
cities_pop_df['year'] = years

#keeps latest year
cities_pop_df = cities_pop_df.drop_duplicates(keep='last', subset='city' )

#sort values based on population
cities_pop_df = cities_pop_df.sort_values(by='population', ascending=False)
cities_pop_df.head(10)

 10 cities with the largest population

                city  population  year
433            Seoul   9708483.0  2010
412       Al Qahirah   8471859.0  2006
204          Bangkok   7506700.0  1999
322        Hong Kong   7055071.0  2009
229      Ho Chi Minh   5968384.0  2009
554        Singapore   5076700.0  2010
409  Al Iskandariyah   4123869.0  2006
566       New Taipei   3939305.0  2012
437            Busan   3403135.0  2010
270        Pyongyang   3255288.0  2008

# Answer 3 part 1

In [8]:
#Creates a data frame of the latest population figures witht the following lines of code:

#creates dictionary of countries and a list of all population figures
latest_pop_dict = {}
pop_index = 0
population_data = []
for country in document.iterfind('country'):
        for pop in country.iterfind('population'):
            latest_pop_dict[pop_index] = country.find('name').text
            pop_index += 1
            population_data.append(pop.text)
            
#creates data frame of countries and inserts a columns of all population figures
latest_pop_df = pd.DataFrame.from_dict(latest_pop_dict, orient='index')
latest_pop_df['figures'] = population_data

#Renames columns
latest_pop_df.columns = ['country', 'most_recent_pop']

#Drops all population values except the latest one
latest_pop_df = latest_pop_df.drop_duplicates(keep='last', subset='country' )

# Answer 3 part 2

In [9]:
print('\n The 10 ethnic groups with the largest overall populations')

#creates a dictionary of ethnic groups and lists of countries, and ethnic group percentages
ethnic_dict={}
ethnic_index=0
countries=[]
ethnic_percent=[]
for country in document.iterfind('country'):
    for ethnicity in country.iterfind('ethnicgroup'): 
        ethnic_dict[ethnic_index]=(ethnicity.text)
        ethnic_index+=1
        countries.append(country.find('name').text)
        ethnic_percent.append(ethnicity.attrib['percentage'])    
        
#creates dataframe from list of ethnicities and inserts countries and ethnic group percentages as columns        
ethnic_df = pd.DataFrame.from_dict(ethnic_dict, orient='index')        
ethnic_df.columns=['ethnic_group']
ethnic_df['country'], ethnic_df['pop_percent'] = countries, ethnic_percent

#merge latest population figures data frame with ethnic_df
ethnic_df = ethnic_df.merge(latest_pop_df, how='left', on='country')

#creates ethnic population columns
ethnic_df['ethnic_pop'] = (ethnic_df['pop_percent'].astype(float)/100) * ethnic_df['most_recent_pop'].astype(float)

#groups and sums ethnic group populations
ethnic_df = ethnic_df.groupby('ethnic_group').sum() 

#sorts and displays the 10 ethnic groups with the largest overall populations
ethnic_df = ethnic_df.sort_values(by='ethnic_pop', ascending=False)
ethnic_df.head(10)

 The 10 ethnic groups with the largest overall populations

                ethnic_pop
ethnic_group
Han Chinese   1.245059e+09
Indo-Aryan    8.718156e+08
European      4.948722e+08
African       3.183251e+08
Dravidian     3.027137e+08
Mestizo       1.577344e+08
Bengali       1.467769e+08
Russian       1.318570e+08
Japanese      1.265342e+08
Malay         1.219936e+08

# Answer 4 part a.

In [10]:
# creates data frame country_codes_df of countries and country codes

country_codes =[]
country_data=[]
for country in document.iterfind('country'):
    country_data = country.find('name').text, country.attrib['car_code']
    country_codes.append(country_data)
country_codes

columns = ['country', 'country_code']
country_codes_df = pd.DataFrame(columns=columns)
country_codes_df = country_codes_df.append(pd.DataFrame(country_codes, columns=columns))

In [11]:
print('\n Country with the longest river')

#creates list of rivers, country codes, and river lengths
data_instances=[]
river_info=[]
      
for river in document.iterfind('river'):   
    try:
        data_instance = [river.find('name').text, river.attrib['country'], int(river.find('length').text)]
        river_info.append(data_instance)
    except: 
        pass

#creates data frame of rivers, country codes, and river lengths
columns = ['name', 'country_code', 'length']
river_df = pd.DataFrame(columns=columns) 
river_df = river_df.append(pd.DataFrame(river_info, columns=columns))

#creates a new data frame new_river_df where each river has one country code per row
river_list = []
for row in river_df.itertuples(): 
    if len(row[2].split(' ')) == 1:
        entry = [row[1], row[2], row[3]]
        river_list.append(entry)
    else:
        for code in row[2].split(' '):
            entry = [row[1], code, row[3]]
            river_list.append(entry)
columns = ['name', 'country_code', 'length']
new_river_df = pd.DataFrame(columns=columns)
new_river_df = new_river_df.append(pd.DataFrame(river_list, columns=columns))

#creates column with country name by merging with country_codes_df
new_river_df = new_river_df.merge(country_codes_df, how='left', on='country_code')
new_river_df = new_river_df.sort_values(by=['length', 'country'], ascending=[False, True])
new_river_df.head(3)

 Country with the longest river

         name country_code length   country
295  Amazonas           BR   6448    Brazil
294  Amazonas           CO   6448  Colombia
296  Amazonas           PE   6448      Peru

# Answer 4 part b.

In [12]:
print('\n Country with the largest lake')

#creates list of lakes, country codes, and lake areas

lake_info =[]
data_instance =[]
for lake in document.iterfind('lake'):   
    try:
        data_instance = [lake.find('name').text, lake.attrib['country'], int(lake.find('area').text)]
        lake_info.append(data_instance)
    except: 
        pass

#creates data frame of lakes, country codes, and lake areas
columns = ['name', 'country_code', 'area']
lake_df = pd.DataFrame(columns=columns)
lake_df =lake_df.append(pd.DataFrame(lake_info, columns=columns))

#creates a new data frame new_lake_df where each lake has one country code per row
lake_list = []
for row in lake_df.itertuples(): 
    if len(row[2].split(' ')) == 1:
        entry = [row[1], row[2], row[3]]
        lake_list.append(entry)
    else:
        for code in row[2].split(' '):
            entry = [row[1], code, row[3]]
            lake_list.append(entry)
columns = ['name', 'country_code', 'area']
new_lake_df = pd.DataFrame(columns=columns)
new_lake_df = new_lake_df.append(pd.DataFrame(lake_list, columns=columns))

#creates column with country name by merging with country_codes_df
new_lake_df = new_lake_df.merge(country_codes_df, how='left', on='country_code')
new_lake_df = new_lake_df.sort_values(by=['area', 'country'], ascending=[False, True])
new_lake_df.head(5)

 Country with the largest lake

           name country_code    area       country
57  Caspian Sea           AZ  386400    Azerbaijan
59  Caspian Sea           IR  386400          Iran
58  Caspian Sea          KAZ  386400    Kazakhstan
56  Caspian Sea            R  386400        Russia
60  Caspian Sea           TM  386400  Turkmenistan

# Answer 4 part c.

In [13]:
print('\n Country with airport at highest elevation')

#creates list of airports, country code, and lake area

airport_info =[]
data_instance =[]
for airport in document.iterfind('airport'):   
    try:
        data_instance = [airport.find('name').text, airport.attrib['country'], int(airport.find('elevation').text)]
        airport_info.append(data_instance)
    except: 
        pass

#creates data frame of airports, country codes, and airport elevations
columns = ['name', 'country_code', 'elevation']
airport_df = pd.DataFrame(columns=columns)
airport_df =airport_df.append(pd.DataFrame(airport_info, columns=columns))

#creates a new data frame new_airport_df where each airport has one country code per row
airport_list = []
for row in airport_df.itertuples(): 
    if len(row[2].split(' ')) == 1:
        entry = [row[1], row[2], row[3]]
        airport_list.append(entry)
    else:
        for code in row[2].split(' '):
            entry = [row[1], code, row[3]]
            airport_list.append(entry)
columns = ['name', 'country_code', 'elevation']
new_airport_df = pd.DataFrame(columns=columns)
new_airport_df = new_airport_df.append(pd.DataFrame(airport_list, columns=columns))

#creates column with country name by merging with country_codes_df
new_airport_df = new_airport_df.merge(country_codes_df, how='left', on='country_code')
new_airport_df = new_airport_df.sort_values(by=['elevation', 'country'], ascending=[False, True])
new_airport_df.head(1)

 Country with airport at highest elevation

            name country_code elevation  country
80  El Alto Intl          BOL      4063  Bolivia